<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Client, initial-scale=1.0">
    <title>Criar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .botao {
            margin: 15px 0;
        }

        #botoes {
            background-color: #4682b4;
            border-color: #4682b4;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
</head>

<body class="container-fluid">
    <h2>Criar</h2>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/client/read">Cliente</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar</li>
        </ol>
    </nav>

    <form action="/client/create" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="inputName4" class="form-label">Nome </label>
            <input type="text" placeholder="Name" name="Name" class="form-control" id="inputName4" required>
        </div>
        <div class="col-md-6">
            <label for="inputPhone4" class="form-label">Telefone (com ddd)</label> <input type="tel"
                placeholder="00 000000000" name="Phone" class="form-control" id="inputPhone4" maxlength="15" required>
        </div>
        <div class="col-md-6">
            <label for="inputDateOfBirth" class="form-label">Data de Nascimento</label>
            <input type="date" name="DateOfBirth" class="form-control" id="inputDateOfBirth" required>
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">E-Mail</label>
            <input type="email" placeholder="E-mail" name="Email" class="form-control" id="inputEmail4" required>
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Senha</label>
            <input type="password" placeholder="Password" name="Password" class="form-control" id="inputPassword4"
                required>
        </div>
        <div class="col-md-12">
            <label for="inputCep" class="form-label">CEP</label>
            <input type="text" placeholder="00000-000" name="Cep" class="form-control" id="inputCep" maxlength="9"
                required>
        </div>
        <div class="col-12">
            <label for="inputCity" class="form-label">Cidade</label>
            <input type="text" placeholder="São José do Rio Preto" name="City" class="form-control" id="inputCity"
                required>
        </div>
        <div class="col-md-6">
            <label for="inputStreet" class="form-label">Rua</label>
            <input type="text" placeholder="Rua Florianópolis" name="Street" class="form-control" id="inputStreet"
                required>
        </div>
        <div class="col-md-3">
            <label for="inputDistrict" class="form-label">Bairro</label>
            <input type="text" placeholder="Eldorado" name="District" class="form-control" id="inputDistrict" required>
        </div>
        <div class="col-md-3">
            <label for="inputNumber" class="form-label">Número</label>
            <input type="number" placeholder="2510" name="Number" class="form-control" id="inputNumber" required>
        </div>
        <div class="col-md-6">
            <label for="inputComplement" class="form-label">Complemento</label>
            <input type="text" placeholder="Bloco A" name="Complement" class="form-control" id="inputComplement">
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label">Estado</label>
            <input type="text" placeholder="SP" name="State" class="form-control" id="inputState" required>
        </div>
        <div class="col-md-6 botao">
            <button type="submit" class="btn btn-primary w-100" id="botoes">Criar</button>
        </div>
        <div class="col-md-6 botao">
            <a href="/client/read" class="btn btn-outline-secondary w-100">Voltar</a>
        </div>
    </form>
    <script>
        function validateAndFormatCep(cep) {
            return cep.replace(/\D/g, "").replace(/^(\d{5})(\d{3})$/, "$1-$2");
        }

        async function buscarCep(cep) {
            const apiUrl = `/Client/BuscarCep?cep=${cep.replace(/\D/g, "")}`;

            try {
                let response = await fetch(apiUrl);

                if (!response.ok) throw new Error("Erro na consulta do CEP");

                let data = await response.json();

                if (data.erro) {
                    alert("CEP não encontrado.");
                } else {
                    $('#inputStreet').val(data.logradouro);
                    $('#inputDistrict').val(data.bairro);
                    $('#inputCity').val(data.localidade);
                    $('#inputState').val(data.uf);
                }
            } catch (error) {
                alert("CEP inválido ou erro na API.");
            }
        }

        $('#inputCep').on('input', function () {
            $(this).val(validateAndFormatCep($(this).val()));
        }).on('blur', function () {
            const cep = $(this).val();
            if (cep.length === 9) buscarCep(cep);
        });

        $('#inputPhone4').on('input', function () {
            let tel = $(this).val().replace(/\D/g, '');
            if (tel.length > 2) {
                tel = tel.replace(/^(\d{2})(\d)/, "$1 $2");
            }
            if (tel.length > 7) {
                tel = tel.replace(/(\d{2}) (\d{5})(\d)/, "$1 $2-$3");
            }
            $(this).val(tel);
        });
    </script>
</body>

</html>