Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [Service] (
    [ServiceId] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    [Description] nvarchar(max) NOT NULL,
    [PathFoto] nvarchar(max) NOT NULL,
    [Duration] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Service] PRIMARY KEY ([ServiceId])
);
GO

CREATE TABLE [User] (
    [UserId] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    [Password] nvarchar(max) NOT NULL,
    [Email] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_User] PRIMARY KEY ([UserId])
);
GO

CREATE TABLE [Client] (
    [UserId] int NOT NULL,
    [Phone] nvarchar(max) NOT NULL,
    [DateOfBirth] nvarchar(max) NOT NULL,
    [Gender] nvarchar(max) NOT NULL,
    [Street] nvarchar(max) NOT NULL,
    [City] nvarchar(max) NOT NULL,
    [District] nvarchar(max) NOT NULL,
    [Number] int NOT NULL,
    [Complement] nvarchar(max) NULL,
    [State] nvarchar(max) NOT NULL,
    [Cep] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Client] PRIMARY KEY ([UserId]),
    CONSTRAINT [FK_Client_User_UserId] FOREIGN KEY ([UserId]) REFERENCES [User] ([UserId]) ON DELETE CASCADE
);
GO

CREATE TABLE [Employee] (
    [UserId] int NOT NULL,
    CONSTRAINT [PK_Employee] PRIMARY KEY ([UserId]),
    CONSTRAINT [FK_Employee_User_UserId] FOREIGN KEY ([UserId]) REFERENCES [User] ([UserId]) ON DELETE CASCADE
);
GO

CREATE TABLE [ClientServices] (
    [ClientServiceId] int NOT NULL IDENTITY,
    [ClientId] int NOT NULL,
    [ServiceId] int NOT NULL,
    [DateTime] datetime2 NOT NULL,
    [Status] int NOT NULL,
    [Description] nvarchar(max) NULL,
    CONSTRAINT [PK_ClientServices] PRIMARY KEY ([ClientServiceId]),
    CONSTRAINT [FK_ClientServices_Client_ClientId] FOREIGN KEY ([ClientId]) REFERENCES [Client] ([UserId]) ON DELETE CASCADE,
    CONSTRAINT [FK_ClientServices_Service_ServiceId] FOREIGN KEY ([ServiceId]) REFERENCES [Service] ([ServiceId]) ON DELETE CASCADE
);
GO

CREATE INDEX [IX_ClientServices_ClientId] ON [ClientServices] ([ClientId]);
GO

CREATE INDEX [IX_ClientServices_ServiceId] ON [ClientServices] ([ServiceId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20241109150644_InitialCreate', N'8.0.8');
GO

COMMIT;
GO


